<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Node JS and Passport</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    
    <link href="../public/mystyles.css" rel="stylesheet" type="text/css">

    <script src="https://kit.fontawesome.com/cb935113b2.js"></script>



    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/animate.css">
    <link rel="stylesheet" href="../public/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <%- body %> 
</body>
</html>