


    <% include ./partials/header %>
    
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(../public/images/big_image_1.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-8 text-center">
    
            <!--  put it here -->
          
            <div class="row mt-5">
                    <div class="col-md-8 m-auto">
                        <div class="card card-body">
                        <h1 class="text-center mb-3">
                            <i class="fas fa-user-plus"></i> Register
                        </h1>
                
                        <% include ./partials/messages %>
                        <form action="/users/register" method="POST">
    
                            <div class="radio-outer">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="freelancer" name="userType" onclick="clickedRadio()" value="freelancer" checked>
                                    <label class="custom-control-label" for="freelancer">freelancer</label>
                                </div>
            
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="attorney" name="userType" onclick="clickedRadio()" value="">
                                    <label class="custom-control-label" for="attorney">attorney</label>
                                </div>
            
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="admin" name="userType" onclick="clickedRadio()" value="">
                                    <label class="custom-control-label" for="admin">admin</label>
                                </div>
                            </div>


                
                            <div class="form-group">
                            <label for="name">Name</label>
                            <input
                                type="name"
                                 id="name"
                                name= "name"
                                class="form-control"
                                placeholder="Enter Name"
                                value="<%= typeof name != 'undefined' ? name : '' %>"
                            />
                            </div>
                            <div class="form-group">
                            <label for="email">Email</label>
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="Enter Email"
                                value="<%= typeof email != 'undefined' ? email : '' %>"
                            />
                            </div>
                            <div class="form-group">
                            <label for="password">Password</label>
                            <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control"
                                placeholder="Create Password"
                                value="<%= typeof password != 'undefined' ? password : '' %>"
                            />
                            </div>
                            <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input
                                type="password"
                                id="password2"
                                name="password2"
                                class="form-control"
                                placeholder="Confirm Password"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                            />
                            </div>
                
                            <button type="submit" class="btn btn-primary btn-block">
                            Register
                            </button>
                        </form>
                        
                        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
                        </div>
                    </div>
                </div>
                

                
    
        </div>
        </div>
    </div>
    </section>
    <!-- END section -->
    
    <% include ./partials/footer %>
    
    <% include ./partials/loader %>


    <script> 
            var allRadios = document.getElementsByName('userType');
            document.getElementById('freelancer').checked = true;
            var booRadio;
            var x = 0;
            for(x = 0; x < allRadios.length; x++) {
        
              allRadios[x].onclick = function() {
                if(booRadio == this) {
                  console.log('we click on an already selected button, we deselect it')
                  this.checked = false;
                  booRadio = null;
                } else { 
                  console.log(`clicked btn does not match previously clicked, then we select it`);
                }
                
                var types = document.getElementsByName('userType');
                var types_value;
                for(var i = 0; i < types.length; i++) {
                    console.log(types[i].id);
                    console.log(types[i].name);
                    if(types[i].checked){
                      types_value = types[i].id;
                    }
                }
        
                console.log(`name selected: ${types_value}`);
                this.value = types_value;
              };
            }
        
        
          window.onload = function() {
        
            if (window.jQuery) {  
                // jQuery is loaded  
                console.log("jQuery loaded");
            } else {
                // jQuery is not loaded
                console.log("jQuery not loaded");
            }
        }
        
        </script>
