
        <% include ./partials/header %>
        
        <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(../public/images/big_image_1.jpg);">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center" style="color:white">
        
                <div class="mb-5 element-animate">
                <h1>Shaping the Future of Legal Services</h1>
                <p>Our consulting services give your organization a competitive advantage, provide increased value to clients, cut costs, increase productivity, and reduce risk. </p>
                </div>
    
                <div class="row mt-5">
                    <div class="col-md-6 m-auto">
                        <div class="card card-body text-center">
                            <p style="color:black">Create an account or login <h1><i class="far fa-user-circle fa-1x"></i></h1></p>
                            <a href="/users/register" class="btn btn-primary btn-block mb-3 registerGreen">Register</a>
                            <a href="/users/login" class="btn btn-secondary btn-block loginBlue">Login</a>
                        </div>
                    </div>
                </div>

        
            </div>
            </div>
        </div>
        </section>
        <!-- END section -->
        
        <section class="feature-destination">
        <div class="container">
            <div class="row">
            <div class="col-md-4 element-animate ">
                <a href="#" class="img-bg" style="background-image: url('../public/images/img_2.jpg')">
                <div class="text">
                    <span class="icon ion-ios-eye"></span>
                    <h2>LPM Assessment</h2>
                    <p>Legal Project Management Quick Assessment</p>
                </div>
                </a>
            </div>
            <div class="col-md-4 element-animate ">
                <a href="#" class="img-bg" style="background-image: url('../public/images/img_1.jpg')">
                <div class="text">
                    <span class="icon ion-ios-eye"></span>
                    <h2>Why Choose Lex?</h2>
                    <p>Help attorneys adapt to the changing legal climate</p>
                </div>
                </a>
            </div>
            <div class="col-md-4 element-animate ">
                <a href="#" class="img-bg last" style="background-image: url('../public/images/img_3.jpg')">
                <div class="text">
                    <span class="icon ion-ios-eye"></span>
                    <h2>FAQ</h2>
                    <p>Legal Project Management</p>
                </div>
                </a>
            </div>
            </div>
        </div>
        </section>
        <!-- END section -->
        
        <section class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h2>Quick Assessment</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
            </div>
            </div>
            <div class="row top-destination">
            
            <div class="col-lg-3">
                <a href="#" class="place">
                <img src="https://static.wixstatic.com/media/db9c40_7368d5b9e68647c0b1536634023ab1df~mv2.png/v1/fill/w_373,h_352,al_c,q_80,usm_0.66_1.00_0.01/Leverage%20Mistakes%202.webp" alt="Image placeholder">
                <h2>Eiffel Tower, France</h2>
                <p>Visit This Place</p>
                </a>
            </div>
            
            <div class="col-lg-3">
                <a href="#" class="place">
                <img src="https://static.wixstatic.com/media/db9c40_cd9ff0b5b94846208a030f2774f8c9ad~mv2.png/v1/fill/w_386,h_318,al_c,q_80,usm_0.66_1.00_0.01/Project%20Life%20Cycle.webp" alt="Image placeholder">
                <h2>Opera House, Australia</h2>
                <p>Visit This Place</p>
                </a>
            </div>
            </div>
        </div>
        </section>
        <!-- END section -->
        
        
        <section class="site-section">
            <div class="container">
                <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2>Our Services</h2>
                    <p>Legal Project Management - We help new and established law firms and legal departments develop a proactive, disciplined approach to managing legal work that involves defining, planning, budgeting, executing, and evaluating a legal matter. We train attorneys and support staff on the application of skills, tools, and techniques to achieve legal project objectives  and provide tools for improving communication to set and meet client expectations.</p>
                    <p>Legal Process Improvement - Our legal process improvement services include evaluation of your current law firm practices and development of a repeatable model of execution. This includes enhancing or re-engineering work processes by analyzing its existing state, identifying areas for increased efficiencies, and eliminating waste or rework to deliver desired business outcomes.</p>
                    <p>Legal Software, Cloudware, and Mobile Technology - We assist organizations with selecting legal technology to complement their organizational processes. We understand that lawyers are lawyers, not IT experts. Experience has taught us that many lawyers will happily forgo technological advances for immediate utility if it imposes a steep learning curve that takes away from productivity. Our consultants will help select technology for your law practice that is user-friendly and not cumbersome.</p>
                </div>
                </div>
            </div>
            </section>
            <!-- END section -->
        
        
        <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(../public/images/big_image_2.jpg);">
        <div class="container">
            <div class="row justify-content-center align-items-center intro">
            <div class="col-md-7 text-center element-animate">
                <h2>Need more details?</h2>
                <p>We are here to assist. Contact us by phone, email or via our social media channels.</p>
                <p><a href="#" class="btn btn-black">Contact Us</a></p>
            </div>
            </div>
        </div>
        </section>
        <!-- END section -->
        
        <% include ./partials/footer %>
        <% include ./partials/loader %>
        