a.loginBlue {
    color: white;
    background-color: #385898;
    border-color: #385898;
}

a.loginBlue:hover {
    color: white;
    background-color: #3366cc;
    border-color: #3366cc;
}

a.registerGreen {
    color: white;
    background-color: #13aa52;
    border-color: #13aa52;
}

a.registerGreen:hover {
    color: white;
    background-color: #0fba56;
    border-color: #0fba56;
}



#undergradGraduatedOn {
    display: none;
}

#undergradDegreeReceivedCheckBox:checked ~ #undergradGraduatedOn {
    display: block;
}

#profileData {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 50px;
}

#undergraduateInsitution {
    display: none;
}

#undergraduateCheckBox:checked ~ #undergraduateInsitution {
    display: block;
    padding: 18px;
}

#admin-container {
    padding: 50px;
    margin: 10px;
}

#login-radio-outer {
    width: 100%;
    float:left;

    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 20px;
}

#login-radio-outer .custom-control {
    float:left;
    width: 30%;
    text-align: center;
}

#admin-list-outer {
    padding: 10px;
    float:left;
    width:100%;
}